body,you dont need those carrots that are used in html
html {
    background-color: plum;
    font-family: 'Courier New',sans-serif;
    color: purple;
    margin-top:100px;
    margin-bottom:100px;
}

p { 
  color: blueviolet;
  font-size: 24px;
  font-family: Arial;


}

.highlight {
    /* background-color: red; */
    color: green;
    

}



/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 650px) {

  
} 

